{% extends('login/base.html.twig') %}

{% block title%}Receive OTP{% endblock %}

{% block content %}
    <div id="first">
        <div class="myform form ">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                    <h1>Enter email to recieve OTP</h1>
                    </div>
            </div>
            <form action="{{ path('getOTP') }}" method="post" name="login">
                    <input type="hidden" name="_method" value="post" />
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
                        {% if email is defined %}
                        value="{{email}}"
                        {% endif %} >
                    </div>
                    <div class="form-group">
                        <p class="text-center" style='text-color:red;'>
                        {% if message is defined %}
                        {{message}}
                        {% endif %}
                        </p>
                    </div>
                    <div class="col-md-12 text-center ">
                        <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">get OTP</button>
                    </div>
                </form>
            
        </div>
    </div>
{% endblock %}