{% extends('login/base.html.twig') %}

{% block title%}Log In{% endblock %}

{% block content %}
    <div id="first">
        <div class="myform form ">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                    <h1>Log In - Enter OTP</h1>
                    </div>
            </div>
            <form action="{{ path('login') }}" method="post" name="login">
                    <input type="hidden" name="_method" value="post" />
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
                        {% if email is defined %}
                        value="{{email}}"
                        {% endif %} >
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">OTP</label>
                        <input type="text" name="otp" id="otp"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Your OTP" 
                        {% if otp is defined %}
                        value="{{otp}}"
                        {% endif %} >
                    </div>
                    <div class="form-group">
                        <p class="text-center" style='text-color:red;'>
                        {% if message is defined %}
                        {{message}}
                        {% endif %}
                        </p>
                    </div>
                    <div class="col-md-12 text-center ">
                        <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Log In</button>
                    </div>
                    <div class="col-md-12 ">
                        <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">or</span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p class="text-center">
                            <a href="{{path('otp')}}" class="google btn mybtn">get a new OTP
                            </a>
                        </p>
                    </div>
                </form>
            
        </div>
    </div>
{% endblock %}