{% extends('login/base.html.twig') %}

{% block title%}Register{% endblock %}

{% block content %}
    <div id="first">
        <div class="myform form ">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                    <h1>Register</h1>
                    </div>
            </div>
            <form action="{{ path('register') }}" method="post" name="login">
                    <input type="hidden" name="_method" value="post" />
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" name="name" id="name"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Your Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <p class="text-center"></p>
                    </div>
                    <div class="col-md-12 text-center ">
                        <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Register</button>
                    </div>
                    <div class="col-md-12 ">
                        <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">or</span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p class="text-center">
                            <a href="{{path('otp')}}" class="google btn mybtn">Log In
                            </a>
                        </p>
                    </div>
                </form>
            
        </div>
    </div>
{% endblock %}